.container {
	display: flex;
  }
  
  .left-div {
	width: 50%;
	float: left;
	background-color: red;
  }
  
  .product {
	height: 200px;
	background-color: yellow;
  }
  
  .thumbnail {
	height: 100px;
	background-color: green;
  }
  
  .right-div {
	width: 50%;
	float: right;
	background-color: blue;
  }
  